{% macro renderPager(pager, aggregate) %}
    {{
        pagerfanta(
            pager,
            'twitter_bootstrap_translated',
            {
                'proximity' : 1,
                'routeName': 'claro_configurationgame_list',
                'routeParams': {'aggregateId': aggregate.getId()}
            }
        )
    }}
{% endmacro %}

{% from _self import renderPager %}

{% extends "ClarolineCoreBundle:Workspace:layout.html.twig" %}

{% block javascripts %}
    {{ parent() }}
    <script
        src='{{ asset('bundles/aipseriousgame/js/configurationgame_list.js') }}'
        type="text/javascript"
    >
    </script>
{% endblock %}

{% block section_content %}


<div>
    
   {{
        macros.breadcrumbs([
            
            {
                'name': 'configurationgame_list'|trans({}, 'game'),
                'href': path('claro_configurationgame_list', {'aggregateId': _resource.getId()})
            },
            {
                'name': 'activitegame_list'|trans({}, 'game'),
                'href': path('claro_activitegame_list', {'aggregateId': _resource.getId()})
            }
            
        ])
    }}
      <div>
        {{ macros.flashBox() }}
    </div>

<div class="panel-body">
    <h4>{{ 'resource'|trans({}, 'platform') }} : {{ _resource.getResourceNode().getName() }}</h4>
    <br>

   {% if is_granted('EDIT', resourceCollection) %}
    <div>
        
        <a class="list-group-item" href="{{ path('claro_configurationgame_create_form', {'aggregateId': _resource.getId()}) }}">
           <button class="btn btn-primary">
                <i class="icon-plus">
                </i> 
                {{ 'create_new_configurationgame'|trans({}, 'game') }}
            </button>
        </a>
        
    </div>
    {% endif %}
 

    <br>
 <div class="margin">
        {% set nbPages = configurationgame.getNbPages() %}

        {% if nbPages > 1 %}
            {{ renderPager(configurationgame, _resource) }}
        {% endif %}

        {% for configurationgame in configurationgame %}
        <div class="panel
            {% if configurationgame is not null %}
                panel-primary
            {% else %}
                panel-danger
            {% endif %}"
         >
            <div class="pull-right">
                {% if is_granted('EDIT', resourceCollection) %}
                    
                    <a href="{{ path('claro_configurationgame_edit_form', {'configurationgameId': configurationgame.getId()}) }}">
                        <button type="button" class="btn btn-default">
                            <i class="icon-edit"></i>
                        </button>
                    </a>
                    <a href="{{ path('claro_configurationgame_delete', {'configurationgameId': configurationgame.getId()}) }}">
                        <button
                       
                        class="btn btn-default"
                       
                    >
                        &times;
                    </button>
                    </a>
                    
                {% endif %}
            </div>
            {% set nom= configurationgame.getNom() %}

            {% if nom is not null %}
            <div class="panel-heading">
                <b> Nom du configuration:{{nom }}</b>
            </div>
            {% endif %}
           

           
           

            <div class="panel-body">
              
            {% set url = configurationgame.getUrl() %}

            {% if url is not null %}
           
            <div class="well well-sm">
                 <b> Url du serveur:{{ url }}</b>
            </div>
            {% endif %} 
            {% set port = configurationgame.getPort() %}

            {% if port is not null %}
           
            <div class="well well-sm">
                 <b> Port du serveur:{{ port }}</b>
            </div>
            {% endif %} 
            
            
            {% set scenario = configurationgame.getScenario() %}

            {% if scenario is not null %}
           
            <div class="well well-sm">
                <b> Scenario du serveur:{{scenario }}</b>
            </div>
            {% endif %} 
            </div>
            

            <div class="panel-footer">
                {% if (is_granted('EDIT', resourceCollection) or is_granted('DELETE', resourceCollection)) %}
                <div>
                    <small>
                        {% set creator = configurationgame.getCreator() %}
                        {{ 'created_on'|trans({}, 'game') }}
                        {{ configurationgame.getCreationDate().format('d-m-Y') }}
                        {{ 'at'|trans({}, 'game') }}
                        {{ configurationgame.getCreationDate().format('H:i:s') }},
                        {{ 'by'|trans({}, 'game') }}
                        {{ creator.getFirstName() }}
                        {{ creator.getLastName() }}
                    </small>
                </div>
                {% endif %}
                 {% set publicationDate = configurationgame.getPublicationDate() %}
                
                {% if publicationDate is not null %}
                    <div>
                        <small>
                            {{ 'published_on'|trans({}, 'game') }}
                            {{ publicationDate.format('d-m-Y') }}
                            {% if (is_granted('EDIT', resourceCollection) or is_granted('DELETE', resourceCollection)) %}
                            
                            {% endif %}
                        </small>
                    </div>
                {% endif %}
            </div>
        </div>
        {% endfor %}

        {% if nbPages > 1 %}
            {{ renderPager(configurationgame, _resource) }}
        {% endif %}
    </div>
</div>


<div id="delete-configurationgame-validation-box" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h3>{{ 'configurationgame_delete_confirm_title'|trans({}, 'game') }}</h3>
            </div>
            <div class="modal-body">
                <p>{{ 'configurationgame_delete_confirm_message'|trans({}, 'game') }}</p>
            </div>
            <div class="modal-footer">
                <input type="button" id="delete-confirm-ok" class="btn btn-primary" value="{{ 'ok'|trans({}, 'platform') }}"/>
                <input type="button" class="btn btn-default" data-dismiss="modal" value="{{ 'cancel'|trans({}, 'platform') }}"/>
            </div>
        </div>
    </div>
</div>

{% endblock %}